.quick-access-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4675dc;
    padding: 12px 0;
}

.menu-item {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 16px;
    padding: 0 25px;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none;
}

.menu-item:hover {
    background-color: #2676E3;
}
.menu-item.active {
    background-color: #2676E3;
}

.nav-main .menu-item {
    color: #ffffff !important;
}
