.home-page {
    background-color: #f5f5f5;
    min-height: 100vh;
    min-width: 1200px;
}

.main-content {
    display: flex;
    justify-content: flex-start; 
    padding: 60px 0 60px 220px;
    
    background-size: cover;
    background-position: center;
}